<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addBooks</title>
</head>
<body>
    <form method="post" action="/addnew">
        <input type="text" name="name" id="name" placeholder="name">
        <input type="text" name="author" id="" placeholder="author">
        <input type="text" name="genre" id="" placeholder="genre">
        <button type="submit"> Add </button>
    </form>
</body>
</html>