<body>
    <li>
        <ul>
            <a href="http://localhost:5000/home">Home</a>
        </ul>
        <ul>
            <a href="http://localhost:5000/addBooks">Add a new Book</a>
        </ul>
        <ul>
            <a href="http://localhost:5000/books">Book List</a>
        </ul>
    </li>
    
  
    
</body>